**Question 1**

In [6]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
print(a)

6

Explanation for the entire code:

1. Initialization:

a is initialized to 0.

2. First call to b():

The function b() is called.
Inside b(), the global variable a is referenced.
The function c(a) is called with the current value of a (which is 0).
Inside c(a), the value a + 2 is computed, resulting in 2.
The result 2 is returned to b(), and a is updated to 2.

3. Second call to b():

The function b() is called again.
Inside b(), the global variable a is now 2.
The function c(a) is called with the current value of a (which is 2).
Inside c(a), the value a + 2 is computed, resulting in 4.
The result 4 is returned to b(), and a is updated to 4.

4. Third call to b():

The function b() is called once more.
Inside b(), the global variable a is now 4.
The function c(a) is called with the current value of a (which is 4).
Inside c(a), the value a + 2 is computed, resulting in 6.
The result 6 is returned to b(), and a is updated to 6.

Final value of a:

The value of a is now 6.

**Question 2**

There is no file midterm.py Let's use the filename Filelength.txt instead of midterm.py in the examples.

In [7]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            contents = infile.read()
            return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except IOError:
        print(f"Could not read file {filename}.")
# Examples of usage:
print(fileLength('/content/sample_data/Filelength.txt'))  # This should print the length of the file if found
print(fileLength('idterm.py'))   # This should print "File idterm.py not found."

123
File idterm.py not found.
None

**Question 3**

In [9]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0, 0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

**Question 4**

In [10]:
def collatz(number):
    while number != 1:
        print(number)
        if number % 2 == 0:
            number = number // 2
        else:
            number = 3 * number + 1
    print(number)

collatz(1)
print("---------")
collatz(10)

1
---------
10
5
16
8
4
2
1

**Question 5**

In [11]:
def binary(num):
    if num == 0:
        print(0, end='')
    elif num == 1:
        print(1, end='')
    else:
        binary(num // 2)
        print(num % 2, end='')

binary(0)
print('\n')
binary(1)
print('\n')
binary(3)
print('\n')
binary(9)

0

1

11

1001

**Question 6**

In [13]:
from html.parser import HTMLParser
import re

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.headings = []
        self.exclude_title = False

    def handle_starttag(self, tag, attrs):
        if tag.lower().startswith('h'):
            match = re.match(r'h(\d+)', tag, re.IGNORECASE)
            if match:
                self.indentation = int(match.group(1)) - 1
        elif tag.lower() == 'title':
            self.exclude_title = True

    def handle_endtag(self, tag):
        if tag.lower() == 'title':
            self.exclude_title = False

    def handle_data(self, data):
        if self.indentation >= 0 and not self.exclude_title:
            heading = ' ' * self.indentation + data.strip()
            if heading:
                self.headings.append(heading)

    def print_headings(self):
        for i, heading in enumerate(self.headings):
            print(heading, end='')
            if i != len(self.headings) - 1:
                print()

infile = open('/content/sample_data/w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
 Principles

**Question 7**

In [14]:
from urllib import request
from urllib.parse import urlparse, urljoin
from html.parser import HTMLParser

class WebDirHTMLParser(HTMLParser):
    def __init__(self, base_url, depth, indent):
        super().__init__()
        self.base_url = base_url
        self.depth = depth
        self.indent = indent
        self.current_depth = 0
        self.visited_urls = set()

    def handle_starttag(self, tag, attrs):
        if self.current_depth <= self.depth and tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    url = urljoin(self.base_url, attr[1])
                    if url not in self.visited_urls:
                        self.visited_urls.add(url)
                        print(' ' * self.indent * self.current_depth + url)
                        if self.current_depth < self.depth:
                            self.current_depth += 1
                            self.parse_url(url)

    def parse_url(self, url):
        try:
            response = request.urlopen(url)
            html_content = response.read().decode('utf-8')
            parser = WebDirHTMLParser(url, self.depth, self.indent)
            parser.feed(html_content)
        except:
            pass

def webdir(url, depth, indent):
    parsed_url = urlparse(url)
    base_url = parsed_url.scheme + '://' + parsed_url.netloc
    print(url)
    parser = WebDirHTMLParser(base_url, depth, indent)
    parser.parse_url(url)

# Test the webdir function
webdir('https://www.gmail.com', 1, 0)

https://www.gmail.com
https://www.gmail.com/signin/usernamerecovery?continue=https://mail.google.com/mail/u/0/&dsh=S-117287222:1720138178371297&emr=1&flowEntry=ServiceLogin&flowName=WebLiteSignIn&followup=https://mail.google.com/mail/u/0/&ifkv=AdF4I76-SCJz7kulnSp-28PBAHtqpTkq3f5bM8c3r2is8rwVGxnvJkKkNOoAW4eK_fSi1ieeo986cw&osid=1&service=mail
https://support.google.com/accounts?p=signin_privatebrowsing&hl=en-US
https://www.gmail.com/lifecycle/flows/signup?continue=https://mail.google.com/mail/u/0/&dsh=S-117287222:1720138178371297&emr=1&flowEntry=SignUp&flowName=GlifWebSignIn&followup=https://mail.google.com/mail/u/0/&ifkv=AdF4I76-SCJz7kulnSp-28PBAHtqpTkq3f5bM8c3r2is8rwVGxnvJkKkNOoAW4eK_fSi1ieeo986cw&osid=1&service=mail
https://support.google.com/accounts?hl=en-US&p=account_iph
https://accounts.google.com/TOS?loc=US&hl=en-US&privacy=true
https://accounts.google.com/TOS?loc=US&hl=en-US

In [15]:
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/test1.html

**Question 8**

In [16]:
import sqlite3

# Connect to the SQLite database (create a new database if it doesn't exist)
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()
# Check if the table exists
cursor.execute(f"SELECT name FROM sqlite_master WHERE type='table' AND name='weather'")
result = cursor.fetchone()
if result:
    # Table exists, so delete it
    cursor.execute(f"DROP TABLE weather")
# Create the table
cursor.execute('''CREATE TABLE weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')

# Insert the data into the table
data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes and close the connection
conn.commit()

cursor.execute("SELECT Temperature FROM weather")
temperature_data = cursor.fetchall()
print("All temperature data:")
for row in temperature_data:
    print(row[0])

All temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

 2. All the cities, but without repetition

In [17]:
cursor.execute("SELECT DISTINCT City FROM weather")
cities = cursor.fetchall()
print("All cities:")
for row in cities:
    print(row[0])

All cities:
Mumbai
London
Cairo

3. All the records for India

In [18]:
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = cursor.fetchall()
print("Records for India:")
for row in india_records:
    print(row)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

4. All the Fall records

In [19]:
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("Fall records:")
for row in fall_records:
    print(row)

Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

5. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [20]:
cursor.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400")
rainfall_data = cursor.fetchall()
print("City, Country, and Season with average rainfall between 200 and 400 millimeters:")
for row in rainfall_data:
    print(row)

City, Country, and Season with average rainfall between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

6. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [21]:
cursor.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
fall_temperature_data = cursor.fetchall()
print("City and Country with average Fall temperature above 20 degrees (in increasing temperature order):")
for row in fall_temperature_data:
    print(row)

City and Country with average Fall temperature above 20 degrees (in increasing temperature order):
('Cairo', 'Egypt')
('Mumbai', 'India')

7. The total annual rainfall for Cairo:

In [22]:
cursor.execute("SELECT SUM(Rainfall) FROM weather WHERE City = 'Cairo'")
cairo_total_rainfall = cursor.fetchone()[0]
print("Total annual rainfall for Cairo:", cairo_total_rainfall)

Total annual rainfall for Cairo: 27.6

8. The total rainfall for each season:

In [23]:
cursor.execute("SELECT Season, SUM(Rainfall) FROM weather GROUP BY Season")
seasonal_rainfall_data = cursor.fetchall()
print("Total rainfall for each season:")
for row in seasonal_rainfall_data:
    print(row)

Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

**Question 9**

In [24]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [word.upper() for word in words]
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [25]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [word.lower() for word in words]
print(a)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [26]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [len(word) for word in words]
print(a)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [27]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [[word.upper(), word.lower(), len(word)] for word in words]
print(a)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [word for word in words if len(word) >= 4]
print(a)

['quick', 'brown', 'jumps', 'over', 'lazy']